<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>ea9d4740-4791-4de1-9161-16c36925e421</id>
  <name>Unit Tests</name>
  <order>4</order>
  <icon type="FontAwesome" source="vial" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" />
    <designerReference id="365791bd-aa54-473c-9025-02dc4eaac642" name="Unit Test Types" module="TD.Modelers.Tests.Unit" />
  </designerReferences>
  <packageReferences />
</config>