<?xml version="1.0" encoding="utf-8"?>
<package id="afe20ec2-0757-441b-b1ea-d0c344f7e1e6" type="API Controllers Package" typeId="e6fe18f8-29d8-41f1-9165-b5665df56263">
  <name>API Controllers Package</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="b6ef4af8-1b42-4d9d-b7e0-6bb74e480bbc" include="Domain Services" isExternal="true">
      <path>../../Domain Services/Domain Services/Domain Services.pkg.config</path>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="7d9d6254-20e2-4bf4-87a1-fff801f28a81" include="TD.Modelers.API" isExternal="true">
      <module>TD.Modelers.API</module>
    </reference>
    <reference packageId="e366dc64-6341-4704-ac65-670991982d71" include="TD.WebApi.REST" isExternal="true">
      <module>TD.WebApi.REST</module>
    </reference>
    <reference packageId="18b4b448-83b8-48a2-8a75-90f6f1152972" include="TD.WebApi.REST.CRUD" isExternal="true">
      <module>TD.WebApi.REST.CRUD</module>
    </reference>
  </references>
  <stereotypes />
</package>