<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.10" />
  <module moduleId="Intent.Common.CSharp" version="3.3.16" />
  <module moduleId="Intent.Common.Types" version="3.3.4" />
  <module moduleId="Intent.EntityFrameworkCore" version="3.3.6" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.3.4" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.5" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.5" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.7" />
  <module moduleId="TD.Application.DI" version="3.4.0" />
  <module moduleId="TD.Application.Services" version="3.4.1" />
  <module moduleId="TD.Application.Services.Validation.Fluent" version="3.4.1" />
  <module moduleId="TD.Common.CSharp" version="3.4.0" />
  <module moduleId="TD.Core.Readme" version="3.4.0" />
  <module moduleId="TD.Domain.Common" version="3.4.0" />
  <module moduleId="TD.Domain.Common.DateTime" version="3.4.0" />
  <module moduleId="TD.Domain.Contracts.Repositories" version="3.4.0" />
  <module moduleId="TD.Domain.DI" version="3.4.0" />
  <module moduleId="TD.Domain.Entities" version="3.4.0" />
  <module moduleId="TD.Domain.Entities.Filters" version="3.4.0" />
  <module moduleId="TD.Domain.Services" version="3.4.0" />
  <module moduleId="TD.Domain.Services.CRUD" version="3.4.1" />
  <module moduleId="TD.Domain.Services.Validation.Fluent" version="3.4.0" />
  <module moduleId="TD.DTOs.AutoMapper" version="3.4.0" />
  <module moduleId="TD.EF.Entities.Audit" version="3.4.0" />
  <module moduleId="TD.Entities.Audit" version="3.4.0" />
  <module moduleId="TD.Entities.Filters.Validation.Fluent" version="3.4.0" />
  <module moduleId="TD.GitHubActions.Tests.Unit" version="3.4.0" />
  <module moduleId="TD.Modelers.API" version="3.4.1" />
  <module moduleId="TD.Modelers.ApplicationServices" version="3.4.1" />
  <module moduleId="TD.Modelers.DomainServices" version="3.4.0" />
  <module moduleId="TD.Modelers.Services" version="3.4.0" />
  <module moduleId="TD.Modelers.Tests.Unit" version="3.4.1" />
  <module moduleId="TD.Persistence.DI" version="3.4.0" />
  <module moduleId="TD.Persistence.EF" version="3.4.0" />
  <module moduleId="TD.Readme" version="3.4.0" />
  <module moduleId="TD.Repositories.EF" version="3.4.0" />
  <module moduleId="TD.Services.Validation.Fluent" version="3.4.1" />
  <module moduleId="TD.Tests.XUnit" version="3.4.1" />
  <module moduleId="TD.WebApi.REST" version="3.4.1" />
  <module moduleId="TD.WebApi.REST.CRUD" version="3.4.1" />
</modules>