<?xml version="1.0" encoding="utf-8"?>
<package id="b6ef4af8-1b42-4d9d-b7e0-6bb74e480bbc" type="Domain Services Package" typeId="1107afac-38ff-408a-a130-122c02aa960a">
  <name>Domain Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="9498c62a-849b-48e1-8ff5-617531f8590f" include="Domain" isExternal="true">
      <path>../../Domain/Domain/Domain.pkg.config</path>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a7e94752-4413-4e9a-91ce-194e87f3714e" include="TD.Domain.Services" isExternal="true">
      <module>TD.Domain.Services</module>
    </reference>
    <reference packageId="e003a703-a18d-473f-bee6-0bdc98fe1661" include="TD.Domain.Services.CRUD" isExternal="true">
      <module>TD.Domain.Services.CRUD</module>
    </reference>
    <reference packageId="038abc3e-081e-4053-a01e-540e83a644ab" include="TD.Modelers.DomainServices" isExternal="true">
      <module>TD.Modelers.DomainServices</module>
    </reference>
    <reference packageId="495cd62a-d3dd-4b3b-bacb-4d862ea8c16d" include="TD.Services.Validation.Fluent" isExternal="true">
      <module>TD.Services.Validation.Fluent</module>
    </reference>
  </references>
  <stereotypes />
</package>